.pie-nav-wrapper {
    background-color: #545a5f;
    width: 10vw;
    height: 10vw;
    position: absolute;
    border-radius: 20vw;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.pie-nav-wrapper:hover {
    box-shadow: 0vw 0vw 2vw .1vw grey;
    animation-name: pulse;
    animation-duration: .3s;
    transition: all ease-in-out .1s;

}


.pie-nav-el {
    text-align: center;
    line-height: 5vw;
    color:gainsboro;
    cursor:pointer;
    font-size: 3vh;

}


.pie-nav-el:hover {
    transition: all ease-in-out .1s;
}
.pie-nav-top-left > i {
    margin-left: .5vw;
}
.pie-nav-top-left:hover {
    transform: translate(-.3vh,-.3vh);
}
.pie-nav-top-right > i {
    margin-right: .5vw;
}
.pie-nav-top-right:hover {
    transform: translate(.3vh,-.3vh);
}
.pie-nav-bottom-left > i {
    margin-left: .5vw;
}
.pie-nav-bottom-left:hover {
    transform: translate(-.3vh,.3vh);
}
.pie-nav-bottom-right > i {
    margin-right: .5vw;
}
.pie-nav-bottom-right:hover {
    transform: translate(.3vh,.3vh);
}

.marc-experience {
    position: absolute;
    transform: rotate(320deg);
    top: 30vh;
    left: 40%;
    width: 17vh;
    z-index: 1;
}


.marc-portfolio {
    position: absolute;
    transform: rotate(45deg);
    top: 29vh;
    left: 51%;
    width: 17vh;
    z-index: 1;
}

.marc-blog {
    position: absolute;
    transform: rotate(225deg);
    top: 52vh;
    left: 41%;
    width: 11vh;
    z-index: 1;
}

.marc-contact {
    position: absolute;
    transform: rotate(130deg);
    top: 51vh;
    left: 53%;
    width: 14vh;
    z-index: 1;
}